/*
 Theme Name:   leider
 Theme URI:    https://github.com/arjenderijke/leider-theme/
 Description:  Leider Theme
 Author:       Arjen de Rijke
 Author URI:   https://github.com/arjenderijke
 Template:     busiprof
 Version:      0.0.1
 Tags:         
 Text Domain:  leider
*/


/* =Theme customization starts here
-------------------------------------------------------------- */
.caret { display: none; }